<div>
  <app-filter
    [filter]="filter"
    (submitFilterEvent)="submitedFilter($event)"
  ></app-filter>
  <br />
  <button *ngIf="_APP_SERVICE.role=='admin'"
    style="float: right;"
    type="button"
    nz-button
    nzType="primary"
    (click)="add()"
  >
    <i nz-icon nzType="plus" nzTheme="outline"></i>
    Ajouter
  </button>
  <br>
  <br />
  <br />
  <app-table
  [table]="table"
  (btnClicked)="btnClicked($event)"
  [total]="_userService.total"
  (pageChangedEvent)="pageChanged($event)"
></app-table>
</div>
