<div class="DETAIL">
  <img
    style="float: left"
    nz-image
    class="AVATAR"
    nzSrc="https://zos.alipayobjects.com/rmsportal/jkjgkEfvpUPVyRjUImniVslZfWPnJuuZ.png"
    alt=""
  />

  <div class="descs">
    <div>
      <nz-form-label style="text-align: unset"
        ><b>Nom Complet</b></nz-form-label
      >
      <span>qsd qsd</span>
    </div>
    <div>
      <nz-form-label style="text-align: unset"><b>Email</b></nz-form-label>
      <span>qsd@qsd.qsd</span>
    </div>
    <div>
      <nz-form-label style="text-align: unset"><b>Type</b></nz-form-label>
      <span>Employée</span>
    </div>
    <!-- <div>
      <nz-form-label style="text-align: unset"><b>Adresse</b></nz-form-label>
      <span>Avenue Gustave Eiffel, 75007 Paris, France</span>
    </div> -->
  </div>
</div>
