<nz-form-label style="text-align: unset"><b>Détails Généraux</b></nz-form-label>
<nz-descriptions nzBordered class="">
  <nz-descriptions-item nzTitle="ID" [nzSpan]="3"
    >Ref000001</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Chef" [nzSpan]="2"
    >Chef Chef</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Tel" [nzSpan]="2"
    >+216 00 000 000</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Utilisateur" [nzSpan]="2"
    >User 1</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Tel" [nzSpan]="2"
    >+216 00 000 000</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Prix totale" [nzSpan]="3"
    >230$</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
    <nz-badge nzStatus="processing" nzText="En cours"></nz-badge>
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="date de demande" [nzSpan]="2"
    >19/07/2021</nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Date de livraison" [nzSpan]="2"
    >21/07/2021</nz-descriptions-item
  >
  <!-- <nz-descriptions-item nzTitle="Liste des plats">
    Plat 1, 20$
    <br />
    plat 2, 30$
    <br />
    plat 3, 105$
    <br />
    plat 4, 5$
    <br />
    plat 5, 10$
    <br />
    plat 6, 21.99$
    <br />
  </nz-descriptions-item> -->
</nz-descriptions>
<br />
