[nz-button] {
    margin-right: 12px;
    margin-bottom: 8px;
}
button{
    color: black;
    background:#72addd;
    border-color: #70a1cf;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}