.MAIN_CONTAINER {
  position: relative;
}
.addBTN {
  position: absolute;
  right: 0;
  top: -45px;
}

.EDIT_DELETE {
  position: absolute;
  left: -10px;
  top: -10px;
  opacity: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: start;
  max-height: 60vh;
  overflow: auto;
}

.item {
  position: relative;
  display: flex;
  opacity: 0.4;
  transition: opacity 0.5s;
  background: white;
  margin: 10px;
  flex-direction: column;
  border-radius: 25px;
  cursor: pointer;
}

.item:hover .EDIT_DELETE {
  opacity: 1;
}
.item:hover {
  opacity: 0.7;
}
.selected {
  opacity: 1;
  // border: 2px solid #309bff;
  border-radius: 12px;
  transition: opacity 0.5s;
}

.IMAGE {
  object-fit: contain;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.BTN {
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: solid 2px #1890ff;
  border-radius: 50%;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.edgeRight {
  width: 15px;
  height: 200px;
  background-image: linear-gradient(to right, rgb(255, 255, 255), #00000000);
}

.edgeLeft {
  width: 15px;
  height: 200px;
  background-image: linear-gradient(to left, rgb(255, 255, 255), #00000000);
}

.body {
  display: flex;
  flex-direction: row;
  width: 90%;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  position: relative;
}

.CHECK {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 2vh;
  background: #309bff;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid white;
}
