.descs {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: left;
}

.flex {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
